[submodule "extern/musyx"]
	path = extern/musyx
	url = https://github.com/yannicksuter/musyx.git
	branch = smstricker_2_0_3_changes	
[submodule "extern/dolphin"]
	path = extern/dolphin
	url = https://github.com/doldecomp/dolsdk2001.git
[submodule "extern/ode"]
	path = extern/ode
	url = https://github.com/thomasmarsh/ODE.git
